.container {
  margin-top: 40px;
  width: 500px;
  height: 200px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  border-radius: 15px;
  box-shadow: 10px 10px 8px #edebebbc, -7px -7px 10px #edebebbc;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  @media (min-width: 1200px) {
    width: 800px;
  }
  @media (max-width: 900px) {
    width: 600px;
  }
  @media (max-width: 700px) {
    width: 380px;
  }
  @media (max-width: 500px) {
    width: 400px;
  }
  @media (max-width: 460px) {
    width: 350px;
  }
}
.divider {
  width: 100%;
  margin: 20px 0px;
  border-top: 1px solid rgb(194, 192, 192);
}
.emojiSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 0px 10px;
    font-weight: 700px;
    &:hover {
      cursor: pointer;
    }
    p {
      @media (max-width: 700px) {
        display: none;
      }
      @media (max-width: 500px) {
        display: block;
        font-size: 13px;
      }
      @media (max-width: 460px) {
        display: none;
      }
    }
  }
}
.avatar {
  width: 80px;
  height: 80px;
}
.InputBox {
  width: 98%;
  padding: 20px 10px;
  border: none;
  outline: none;
  background: #eae9e9;
  border-radius: 20px;
}
.pickIemContainer {
  img {
    width: 60px;
    height: 60px;
    margin-top: 15px;
    border-radius: 5px;
  }
  p {
    color: crimson;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
  }
}
