.facebookIcon {
  background: blue;
  border-radius: 50%;
  font-size: 40px;
  &:hover {
    cursor: pointer;
  }
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  @media (max-width: 1060px) {
    gap: 30px;
  }
  @media (max-width: 75px) {
    gap: 10px;
  }
}
.icon {
  color: rgba(0, 0, 0, 0.754);
  border-radius: 50%;
  font-size: 27px;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  @media (max-width: 500px) {
    font-size: 20px;
  }
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  .rightIcon {
    @media (max-width: 1000px) {
      display: none;
    }
    div {
      background-color: rgba(169, 169, 169, 0.333);
      padding: 10px;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
  p {
    color: black;
    @media (max-width: 500px) {
      display: none;
    }
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}
